xml-resources/web-service-references/BusinessFirmaElectronicaTOCExternalServiceSOAP12InLineAttachment/wsdl/lasiewebdev.ccaf.andes_8080/BusinessFirmaElectronicaTOCExternalService/Proxies/BusinessFirmaElectronicaTOCExternalServiceSOAP12InLineAttachment.schema/businessfirmaelectronicatocexternalservice/xsd/genericfault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://esb.cla.cl/EnterpriseFaults/GenericFault/V1" xmlns:tns="http://esb.cla.cl/EnterpriseFaults/GenericFault/V1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="GenericFaultType">
		<xs:sequence>
			<xs:element name="FaultCode" type="xs:integer"/>
			<xs:element name="FaultString" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>